body{
    padding: 0px;
    margin: 0px;
}
#validCardContent, #invalidCardContent{
    display: none;
    width: 100%;
}
@font-face {
    font-family:"AdeliaPasha";
    src: url(Adelia-pasha.ttf);
}
@font-face {
    font-family:"Louis George Cafe";
    src: url(Louis-George-Cafe.ttf);
}
h2{
    font-family: "AdeliaPasha", cursive;
    font-size: 40px;
    font-weight: 400;
    color: #707070;
}
p{
    font-family: "Louis George Cafe";
    font-size: 20px;
    font-weight: 400;
}
label{
    font-family: "Louis George Cafe";
    font-size: 10px;
    font-weight: 400;

}
/*Menú superior*/
#logoBox{
    background-color: #faa299;
    padding: 30px;
}
#logoImg{
    width: 150px;
}
#navMenu{
    background-color: #ffe3b2;
    height: 25px;
}
/*Botones*/
.buttonBox{
    float: none;
    text-align: center;
}
button, a{
    background-color: #faa299;
    border-radius: 15px;
    width: auto;
    padding: 7px 15px 7px 15px;
    margin: 10px 0px 10px 0px;
    color: white;
    border: 0px;
    font-size: 15px;
    font-weight: 600;
}
.buttonBox button{
    float: none;
}
a{
    font-family: "arial";
    display: block;
    width: 5%;
    text-align: center;
    margin: auto;
    text-decoration: none;
}
#inputRequired{
    font-size: 12px;
    color: red;
}
/*Columnas ocultas*/
/*#contentWithResult{
    display: none;
}*/
/*Caja para columnas*/
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div h2{
    text-align: center;
}
/*Columna izquierda*/
#columnLeft{
    width: 60%;
}
#columnLeftparagraph{
    width: 50%;
    margin: auto;
}
.paragraph{
    text-align: center;
    font-size: 17px;
}
.cardData{
    display: block;
    text-align: center;
    font-size: 13px;
}
#cardImage{
    width: 400px;
    display: block;
    margin: auto;
}
/*Columna derecha*/
#columnRight{
    width: 38%;
    padding: 0px 5px 0px 5px;
}
/*Input tarjeta*/
#cardNumber{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(250, 244, 244);
    text-align: center;
    display: block;
    margin: auto;
    /*-webkit-text-security: disc;*/
}
.buttonBox button{
cursor: pointer;
}
/*#inputPairInBlock{
    -webkit-text-security: inherit;
}*/
#inputCvv{
    height: 25px;
    width: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(250, 244, 244);
    text-align: center;
    display: block;
    margin: auto;

}
.inputSeparator{
    display: inline;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
#dateExpiry{
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(250, 244, 244);
    text-align: center;
    display: block;
    margin: auto;
}
#cvvBox{
    display: block;
    margin: auto;
    width: 100%;
    float: none;
    
}
#dateExpiryBox{
    margin: auto;
    width: 70%;
}
#cardNumberBox, #cvvBox, #dateExpiryBox, .buttonBox{
    padding-top: 20px;
}
/*Pantalla de resultados*/
#contentWithResult{
    width: 100%;
}
#contentWithResult h2, p{
    text-align: center;
}
/*invalidCardContent*/
#invalidCardContent img{
    width: 20%;
    display: block;
    margin: auto;
}
#validCardContent img{
    width: 10%;
    display: block;
    margin: auto;
    padding: 10px;
}